.New {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.New form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #fafafa;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 320px;
}

